<div class="container mt-5">
  <h2>Activar Cuenta</h2>
  <form [formGroup]="activarCuentaForm" (ngSubmit)="onActivateAccount()">
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        placeholder="Ingrese su correo"
      />
      <div
        *ngIf="
          activarCuentaForm.get('email')?.invalid &&
          activarCuentaForm.get('email')?.touched
        "
        class="text-danger"
      >
        Correo electrónico inválido
      </div>
    </div>

    <div class="mb-3">
      <label for="codigoActivacion" class="form-label">Código de activación</label>
      <input
        type="text"
        id="codigoActivacion"
        class="form-control"
        formControlName="codigoActivacion"
        placeholder="Ingrese el código de activación"
      />
      <div
        *ngIf="
          activarCuentaForm.get('codigo')?.invalid &&
          activarCuentaForm.get('codigo')?.touched
        "
        class="text-danger"
      >
        Código requerido
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="activarCuentaForm.invalid"
    >
      Activar cuenta
    </button>
  </form>

  <hr />

  <p>¿El código ha expirado?</p>
  <button
    class="btn btn-secondary"
    (click)="onResendCode()"
    [disabled]="resendInProgress"
  >
    Reenviar código de activación
  </button>
</div>
