<div *ngIf="compra.id && isAutorizado" class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="card" style="width: 70%;">
      <div class="card-header text-center">
        <h3>Detalle de Compra</h3>
      </div>
      <div class="card-body">
        <p><strong>ID de Compra:</strong> {{ compra.id }}</p>
        <p><strong>Fecha de Compra:</strong> {{ compra.fechaCompra | date: 'longDate' }}</p>
        <p><strong>Total:</strong> {{ compra.total | currency }}</p>
        <p><strong>Cupón Aplicado:</strong> {{ compra.codigoCupon || 'No aplicó' }}</p>
        <p><strong>Estado:</strong> {{ compra.estadoCompra }}</p>
  
        <h5 class="mt-4">Items en la Compra</h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of compra.informacionItemCompraDTOS">
              <td>{{ item.nombreLocalidad }}</td>
              <td>{{ item.cantidad }}</td>
              <td>{{ item.precioUnitario | currency }}</td>
              <td>{{ item.cantidad * item.precioUnitario | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div *ngIf="isPendiente()" class="card-footer text-center">
        <button class="btn btn-primary btn-lg" (click)="realizarPago()">
          Realizar Pago con Mercado Pago
        </button>
      </div>
    </div>
    
</div>
<div *ngIf="!compra.id || !isAutorizado" class="alert alert-danger text-center" role="alert">
  <h4 class="alert-heading">Compra no encontrada</h4>
  <p>No hemos podido encontrar los detalles de la compra. Por favor, verifique el ID de la compra o intente nuevamente.</p>
</div>
