<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    <div class="col-md-3 mb-2 mb-md-0">
      <a routerLink="" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
        <i class="fa-solid fa-ticket fs-3"></i>
        <span class="fs-4 ms-3 me-3">{{title}}</span>
      </a>
    </div>


    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/" class="nav-link px-2">Inicio</a></li>
      <li><a routerLink="/gestion-eventos" class="nav-link px-2">Gestión de eventos</a></li>
      <li><a routerLink="/carrito-compras" class="nav-link px-2">Carrito (Temporal)</a></li>
   </ul>


   <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
    <button type="button" class="btn btn-primary" routerLink="/registro">Registro</button>
   </div>

  </header>
 </div>

  <!-- <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-between py-3">
          <div class="col-md-3 mb-2 mb-md-0 d-flex align-items-center">
            <a routerLink="" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
              <i class="fa-solid fa-ticket fs-3"></i>
              <span class="fs-4 ms-3 me-3">{{title}}</span>
            </a>
          </div>

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/" class="nav-link px-3">Inicio</a></li>
          </ul>


          <div class="col-md-3 d-flex justify-content-end align-items-center">

            <button type="button" class="btn position-relative me-3" id="notification-btn">
              <i class="fa-solid fa-bell fs-5"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                3
              </span>
            </button>


            <div class="dropdown">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" id="accountMenu" data-bs-toggle="dropdown" aria-expanded="false">
                Mi cuenta
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountMenu">
                <li><a class="dropdown-item" href="#">Nombre: Usuario</a></li>
                <li><a class="dropdown-item" href="#">Correo: usuario.com</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
              </ul>
            </div>
          </div>
        </header>
      </div>-->
