/* Fondo del modal */
.custom-modal {
  background-color: #b0e0e6; /* Azul claro más suave */
  border-radius: 8px;
  padding: 20px; /* Agregar espacio para separar el contenido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera para profundidad */
}

/* Cabecera del modal */
.modal-header {
  color: #2f4f4f; /* Gris oscuro para contraste */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 15px 20px; /* Espaciado */
  font-size: 1.3em; /* Tamaño del texto más grande */
  font-weight: bold; /* Hacer el texto en negrita */
}

/* Footer del modal */
.modal-footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 15px 20px; /* Espaciado */
}

/* Lista de notificaciones */
.list-group-item {
  background-color: #f0f8ff; /* Fondo azul muy claro */
  border: 1px solid #d1e7f1; /* Borde suave */
  border-radius: 6px;
  margin-bottom: 12px; /* Mayor espacio entre los items */
  padding: 15px; /* Más espacio interno */
  color: #2f4f4f; /* Color del texto */
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
  font-size: 1em; /* Tamaño de texto ligeramente mayor */
}

.list-group-item:hover {
  background-color: #d1e7f9; /* Color de fondo más oscuro cuando el usuario pasa el ratón */
}

/* Imagen de portada de la notificación */
.list-group-item img {
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin-right: 15px; /* Espaciado entre la imagen y el texto */
  width: 70px; /* Aumentar el ancho de la imagen */
  height: 90px; /* Hacer la imagen más alta y vertical */
  object-fit: cover; /* Asegurarse de que la imagen se ajuste bien */
}

/* Texto y contenido de la notificación */
.list-group-item h4 {
  color: #004d40; /* Verde oscuro para el título */
  margin: 0;
  font-size: 1.2em; /* Tamaño de título más grande */
  font-weight: bold; /* Título en negrita */
}

.list-group-item p {
  margin: 6px 0;
  font-size: 1em; /* Tamaño de texto de la descripción mejorado */
}

.list-group-item a {
  color: #ffffff;
  background-color: #4682b4; /* Azul acero */
  border-color: #4682b4;
  padding: 8px 15px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Transición para el color del botón */
}

.list-group-item a:hover {
  background-color: #5a8fb4; /* Color de fondo del botón cuando se pasa el ratón */
}